@charset "UTF-8";

body {
	font-size: 13px;			/* 10pt */
	margin: 0 4px 8px;
	white-space: nowrap;		/* generell kein Umbruch von Texten/Werten */
}

button {
	border: 1px outset #dddddd;
	border-radius: 5px;
	padding: 1px 6px;
}

button.selected {
	border: 2px inset #dddddd;
	background-color: #ffff80;
	font-weight: bold;
}


h1 {
	font-size: 120%;
	margin: 0 -4px 4px;		/* body-margin teilweise kompensieren, so dass oben links randlos */
	padding: 0 4px 4px;
	background-color: #e0ffe0;
}


#refresh {
	position: absolute;
	margin-top: 3px;
	left: 24ch;
}
#refresh button {
	margin-left: 5px;
	min-width: 4.5ch;
	/*font-size: 80%;
	border-radius: 3px;*/
}


#error {
	position: absolute;
	margin-top: 28px;		/* Höhe von h1 inkl. padding */
	padding: 1px 4px;
	background-color: #cc0000;
	color: #fff;
	font-size: 85%;
	font-weight: bold;
	white-space: nowrap;
	max-width: 95%;
	overflow: clip;
}
#error.hidden {
	display: none;
}


/*********************************************************/

table.currData {
	border: none;
	font-size: 11pt;
}

table.currData td {
	padding: 0;
}
table.currData td[id] {
	padding: 3px 6px;
	min-width: 7.3ch;
	text-align: right;
	font-weight: bold;
}
/* Schriftfarbe der drei Hauptwerte(-Labels) */
.mlstgFg { color: #666666; }
.ertragFg { color: #008000; }
.verbrauchFg { color: #800000; }
/* BG der Werte, sind in td */
#mLeistung {
	background-color: #ffffa8;
	text-shadow: #ffffff 1px 1px 1px;
}
#ertrag {
	background-color: #66ff66;
}
#verbrauch {
	background-color: #ffb0b0;
}
#zeit,  .diagramLegend[class] {
	font-size: 11px;
	color: #666666;
	font-weight: normal;
	padding: 0;
}
#zeit {
	padding-right: 4px;
}

#diagramPowers {
	margin-top: 4px;
	margin-left: 1px;
	vertical-align: middle;
	background-color: #ffffff;
	outline: 1px solid #cccccc;
}
#diagramCounters {
	margin-left: 10px;
	vertical-align: middle;
	background-color: #ffffff;
	outline: 1px solid #cccccc;
}
/* siehe oben:
td.diagramLegend {}
*/


/*********************************************************/

div#wallbox {
	margin-top: 4ex;
}
/*div.wbPic {
	float: left;
	margin-right: 4px;
	text-align: center;
}*/
#wallbox td.wbPic {			/* Achtung: muss ggf. "#regelmodus td" von unten überschreiben! */
	vertical-align: top;
	text-align: center;
	padding: 0 4px 0 0;
}
.wbPic img {
	background-color: #006600;
	padding: 1px 3px;
}

#wbStatus {
	box-sizing: border-box;
	height: 28px;
	padding: 5px 8px;
	text-align: center;
	margin-bottom: 1px;
}
#wbStatus.wbKein {
	background-color: #cccccc;
	color: #666666;
}
#wbStatus.wbWaiting {
	background-color: #e0f0ff;
	color: #505050;
}
#wbStatus.wbCharging {
	background-color: #00ffff;
	color: #005050;
	font-weight: bold;
	border: 2px dotted #009999;
	padding-top: 3px;		/* um border reduziert */
}
#wbStatus.wbPausiert {
	background-color: #99cc99;
	color: #505050;
	border: 3px #008000 dashed;
	padding-top: 2px;		/* um border reduziert */
}
#wbStatus.wbFinished {
	background-color: #33cc33;
	color: #000000;
}

#wbStatusInfo {
	font-size: 11px;
	color: #505050;
	text-align: left;
}
#wallbox .wbButtons {
	position: absolute;		/* braucht umgebendes element mit "pos: relative" ! */
	top: 1px;
	right: 5px;				/* padding der td */
}
button#stopWb[id],  button#allowWb[id] {		/* "[id]" für Prio über #regelmodus button */
	display: none;
	min-width: initial;
	min-height: initial;
	padding: 2px 0 2px 1ch;		/* mit Ausgleich für #regelmodus button img */
}

table#regelmodus {				/* Info: ist auch table für obiges */
	border-collapse: collapse;
	min-width: 385px;			/* wie Power-canvas + padding-right der td, siehe auch js/DEFAULT_WIDTH_POWERS */
}
#regelmodus td {
	text-align: center;
	padding: 3px 5px;
}
#regelmodus .label {
	padding-top: 8px;
	vertical-align: bottom;
	text-align: left;
}
#regelmodus button {
	min-width: 100%;
	min-height: 26px;
	padding: 1px 4px;
	white-space: nowrap;
}
#regelmodus button img {
	vertical-align: middle;
	margin-right: 1ch;
}


/*********************************************************/

div#car {
	margin-top: 3ex;
}

.carPic {
	float: left;
	vertical-align: middle;
	margin-right: 1ch;
}

#ladestand {
	display: inline-block;
	padding: 2px;
	font-weight: bold;
	font-size: 110%;
}

#ladestand.gut { background-color: #80ff80; }
#ladestand.mittel { background-color: #ffcc80; }
#ladestand.niedrig { background-color: #ffcccc; }


#ladestatus {
	margin-left: 1ch;
}
#ladestatus.charging {
	padding: 1px 4px;
	background-color: #00ffff;
	color: #005050;
}
.ladeInfo {
	color: #808080;
	font-size: 85%;
}

#klima {
	color: #808080;
}


/*********************************************************/

table#lastData {
	margin-top: 6ex;
	border: 1px solid #808080;
	border-collapse: collapse;
	font-size: 90%;
	min-width: 380px;		/* wie Power-canvas, siehe auch js/DEFAULT_WIDTH_POWERS */
}

table#lastData tr:nth-child(even) {
	background-color: #f0f0f0;
}

table#lastData td {
	border: 1px solid #cccccc;
	padding: 1px 4px;
}

td.ldTitle {
	text-align: center;
	background-color: #ffffc0;
}
